 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 619px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: comfortaa;
  margin: 102px 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 112px;
  margin: 68px auto 0 37px;
}

.u-section-1 .u-image-2 {
  width: 139px;
  height: 87px;
  margin: -87px 165px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 561px;
}

.u-section-1 .u-image-3 {
  width: 322px;
  height: 270px;
  margin: 93px 0 0 auto;
}

.u-section-1 .u-image-4 {
  height: 593px;
  width: 570px;
  margin: -387px auto 0 -37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 157px;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 96px;
  }

  .u-section-1 .u-image-3 {
    width: 266px;
  }

  .u-section-1 .u-image-4 {
    height: 474px;
    width: 470px;
    margin-top: -276px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
    margin-top: 27px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 35px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-1 .u-image-3 {
    width: 203px;
    height: 172px;
    margin-top: 61px;
  }

  .u-section-1 .u-image-4 {
    height: 361px;
    width: 360px;
    margin-top: -151px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 22px;
    margin-right: -36px;
    margin-left: 45px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 36px;
    margin-left: 70px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -99px;
    margin-right: 123px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-1 .u-image-3 {
    width: 285px;
    margin-top: 193px;
    margin-right: -36px;
  }

  .u-section-1 .u-image-4 {
    height: 474px;
    width: 442px;
    margin-top: -396px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 364px;
    margin: 0 -24px 37px 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 31px;
    margin-right: -9px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 99px;
    height: 75px;
    margin-top: 56px;
    margin-left: 31px;
  }

  .u-section-1 .u-image-2 {
    width: 98px;
    height: 75px;
    margin-top: -75px;
    margin-right: 82px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-1 .u-image-3 {
    width: 203px;
    margin-top: 241px;
    margin-right: 48px;
  }

  .u-section-1 .u-image-4 {
    height: 447px;
    width: 375px;
    margin-top: -491px;
    margin-right: -11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
  width: 301px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 46px 43px 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 37px 97px 0 43px;
}

.u-section-2 .u-text-4 {
  font-size: 4.5rem;
  margin: 70px 70px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 45px;
    margin-right: 39px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 60px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
    margin-bottom: 45px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 502px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 524px;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 283px;
  height: 188px;
  margin: 323px 8px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 456px;
  height: 456px;
  background-image: url("images/Lessfee.png");
  background-position: 50% 50%;
  margin: -477px 34px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 524px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: comfortaa;
  margin: 70px 89px 0 33px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 89px 85px 0 33px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 3px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-3 .u-image-1 {
    width: 253px;
    height: 143px;
    margin-right: -13px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -466px;
    margin-right: -13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 86px;
    margin-right: 25px;
    margin-left: -3px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 42px;
    margin-right: 26px;
    margin-left: -8px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-3 .u-image-1 {
    width: 288px;
    margin-top: 219px;
    margin-right: -36px;
  }

  .u-section-3 .u-image-2 {
    width: 360px;
    height: 360px;
    margin-top: -407px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 52px;
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 52px;
    margin-right: 27px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-3 .u-image-1 {
    width: 301px;
    height: 241px;
    margin-top: 118px;
    margin-right: 55px;
  }

  .u-section-3 .u-image-2 {
    width: 322px;
    height: 322px;
    margin-top: -331px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 55px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -177px;
    margin-right: 45px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 55px;
    margin-right: 45px;
    margin-left: 10px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-3 .u-image-1 {
    width: 220px;
    height: 155px;
    margin-top: 160px;
    margin-right: -6px;
  }

  .u-section-3 .u-image-2 {
    width: 305px;
    height: 305px;
    margin-top: -348px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 344px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 346px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1247px;
}

.u-section-4 .u-line-1 {
  left: -50px;
  top: 615px;
  position: absolute;
}

.u-section-4 .u-layout-wrap-1 {
  margin-bottom: 0;
  margin-top: 1px;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 548px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-family: comfortaa;
  font-size: 3.75rem;
  margin: 137px 27px 0 61px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 56px 33px 0 88px;
}

.u-section-4 .u-layout-cell-2 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 28px;
}

.u-section-4 .u-image-1 {
  width: 413px;
  height: 413px;
  background-image: url("images/ExpressDelivery.png");
  background-position: 50% 50%;
  margin: 56px auto 0;
}

.u-section-4 .u-image-2 {
  width: 346px;
  height: 274px;
  margin: -223px 12px 0 auto;
}

.u-section-4 .u-line-2 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 8px auto 0 236px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: -13px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 671px;
}

.u-section-4 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-4 .u-image-3 {
  width: 614px;
  height: 614px;
  background-image: url("images/SafeandSecure.png");
  background-position: 50% 50%;
  margin: -30px -10px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 254px;
  height: 201px;
  margin: -162px 67px 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  font-family: comfortaa;
  margin: 146px 71px 0 51px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 82px 69px 0 49px;
}

.u-section-4 .u-line-3 {
  transform-origin: left center 0px;
  margin-top: -704px;
  margin-bottom: 60px;
}

.u-section-4 .u-line-4 {
  width: calc(((100% - 340px) / 2) + 386px);
  transform-origin: left center 0px;
  margin: 789px auto 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-4 .u-line-1 {
    left: -200px;
    margin-top: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 11px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-right: 5px;
    margin-left: 41px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 73px;
    margin-right: 26px;
    margin-left: 41px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -15px;
    margin-left: 21px;
  }

  .u-section-4 .u-image-2 {
    width: 299px;
    height: 194px;
    margin-top: -159px;
    margin-right: -24px;
  }

  .u-section-4 .u-line-2 {
    margin-top: -4px;
    margin-left: 50px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 534px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-4 .u-image-3 {
    height: auto;
    margin-top: -32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-4 {
    margin-top: -206px;
    margin-right: 17px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 534px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 99px;
    margin-right: 17px;
    margin-left: 5px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 67px;
    margin-right: 12px;
    margin-left: 5px;
  }

  .u-section-4 .u-line-3 {
    margin-top: -600px;
    margin-bottom: 608px;
  }

  .u-section-4 .u-line-4 {
    width: 736px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 46px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 74px;
    margin-right: 26px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 57px;
    margin-left: 36px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -106px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 550px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 49px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    margin-top: -201px;
    margin-right: 23px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-line-3 {
    margin-top: -556px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-line-4 {
    width: 626px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2032px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 37px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 78px;
    margin-right: 66px;
    margin-left: 54px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 54px;
    margin-right: 74px;
    margin-left: 60px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -11px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 315px;
    height: 251px;
    margin-top: -180px;
    margin-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 624px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -82px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    margin-top: -231px;
    margin-right: 60px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 302px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -74px;
    margin-right: -44px;
    margin-left: 44px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 100px;
    margin-right: 54px;
    margin-left: 44px;
  }

  .u-section-4 .u-line-3 {
    margin-top: -1018px;
  }

  .u-section-4 .u-line-4 {
    width: 536px;
    margin-left: calc(((100% - 540px) / 2) + -38px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1628px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 46px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-4 .u-image-1 {
    width: 302px;
    height: 302px;
    margin-top: 26px;
  }

  .u-section-4 .u-image-2 {
    width: 227px;
    height: 227px;
    margin-top: -124px;
    margin-right: 0;
    margin-bottom: -28px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 394px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    width: 187px;
    height: 189px;
    margin-top: -145px;
    margin-right: 17px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 320px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 35px;
    margin-right: 31px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin: 61px 0 -46px;
  }

  .u-section-4 .u-line-3 {
    margin-top: -700px;
  }

  .u-section-4 .u-line-4 {
    width: 436px;
    margin-right: calc(((100% - 340px) / 2) + -81px);
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 684px;
}

.u-section-5 .u-group-1 {
  width: 558px;
  margin: 30px 76px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 4.5rem;
  margin: 154px 778px 60px 101px;
}

.u-section-5 .u-text-3 {
  width: 261px;
  font-size: 1.5rem;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 22px;
    margin-right: 27px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 167px;
    margin-right: 654px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 137px;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: 522px;
    margin-top: -91px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 154px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -108px;
    margin-right: -13px;
    margin-left: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: 157px;
    margin-right: -170px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    width: 261px;
    margin: 56px auto 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin: 40px -12px 40px 0;
  }
}