.u-section-1 .u-sheet-1 {
  min-height: 514px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 110px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-2 .u-table-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-block-6421-46 {
  background-image: none;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-table-cell-21 {
  background-image: none;
}

.u-section-2 .u-table-cell-25 {
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  background-image: none;
}

.u-section-2 .u-table-cell-33 {
  background-image: none;
}

.u-section-2 .u-table-cell-37 {
  background-image: none;
}

.u-section-2 .u-table-cell-41 {
  background-image: none;
}

.u-block-6421-35 {
  background-image: none;
}

.u-section-2 .u-table-2 {
  width: 400px;
  margin: 53px auto 60px 13px;
}

.u-block-6421-81 {
  height: 46px;
}

.u-section-2 .u-table-cell-45 {
  background-image: none;
}

.u-section-2 .u-table-cell-46 {
  background-image: none;
}

.u-section-2 .u-table-cell-47 {
  background-image: none;
}

.u-section-2 .u-table-cell-48 {
  background-image: none;
}

.u-section-2 .u-table-cell-51 {
  background-image: none;
}

.u-block-6421-96 {
  height: 46px;
}

.u-section-2 .u-table-3 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-block-6421-107 {
  height: 46px;
}

.u-section-2 .u-table-cell-54 {
  background-image: none;
}

.u-section-2 .u-table-cell-57 {
  background-image: none;
}

.u-section-2 .u-table-cell-60 {
  background-image: none;
}

.u-block-6421-122 {
  height: 46px;
}

.u-section-2 .u-table-4 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-block-6421-133 {
  height: 46px;
}

.u-section-2 .u-table-cell-63 {
  background-image: none;
}

.u-section-2 .u-table-cell-66 {
  background-image: none;
}

.u-section-2 .u-table-cell-69 {
  background-image: none;
}

.u-block-6421-148 {
  height: 46px;
}

.u-section-2 .u-text-1 {
  margin: 29px auto 60px 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    margin-top: 65px;
  }

  .u-section-2 .u-table-2 {
    margin-top: 48px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-3 {
    margin-bottom: 0;
  }
}